<div class="product-list">
  <h1> Products </h1>
  <%= form_with url: products_path, method: :get, class: "product-search" do |form| %>

    <div class="search-field">
      <%= form.label :query, "Search product names:" %>
      <div class="product-search-bar">
        <%= form.text_field :query, value: @query %>
      </div>
    </div>
    <div class="search-field">
      <%= form.label :attribute, "Search product attribute:" %>
      <div class="product-search-bar">
        <%= form.select :attribute,  Product.column_names.dup.prepend(@attribute.to_s).uniq %>
      </div>
    </div>
     <div class="search-field">
      <%= form.label :unsafe_mode, "Super unsafe mode" %>
      <div class="product-search-bar">
        <%= form.check_box :unsafe_mode, checked: @unsafe_mode %>
      </div>
    </div>
    <%= form.submit "Unsafe search" %>
  <% end %>
  <%= render partial: "products/index/product", collection: @products %>
</div>
